@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Haideti la bord!</h1>
    <h3>Lumea este o carte și cei care nu călătoresc citesc doar o pagină.</h3>
</div>
